body,html{
  font-family : Helvetica, sans-serif; 
  font-size : 13px;
  text-shadow : 1px 1px 2px white;
  color : #53667a;
  overflow : hidden;
}
button, input, option{
  color : #53667a;
}
button{
  background-color : white;
  border : 1px solid #aaa;
  border-radius : 5px;
  cursor : pointer;
}
button:hover{
  color : black;  
}
div{
  position : relative; 
}
.title{
  font-size : 20px;
  margin-bottom : 10px; 
}
#ui{
  min-width : 600px;
  padding : 10px; 
  background-color : #efefef;
  border-bottom : 1px solid #CCC;
}
#timeline{
  height : 35px;
  margin-top : 3px;
  margin-bottom : 5px;
  border : 1px solid #666;
  overflow-x : scroll;
  overflow-y : hidden;
}
.frame{
  position : absolute;
  width : 10px;
  height : 20px;
  border-right : 1px solid #666;
  background-color : #ccc; 
}
#files{
  width : 100px; 
}
#new-file{
  position : relative;
  top : -3px;
}
canvas{
  
}
#stop{
  position : absolute;
  top : 0px;
  left : 0px;
  z-index : 1000; 
}
#play{
  float : left; 
}
#stop-container{
  float : left;
  height : 25px;
  width : 45px;
}